<div class="container">
  <h1 class="title">Helpers</h1>
  <h2 class="subtitle">You can apply <strong>responsive helper classes</strong> to almost any element, in order to alter its style based upon the browser's width.</h2>
  <hr>
  <table class="table is-bordered">
    <tbody>
      <tr>
        <th rowspan="3">Float</th>
        <td><code>isClearfix</code></td>
        <td>Fixes an element's floating children</td>
      </tr>
      <tr>
        <td><code>isPulledLeft</code></td>
        <td>Moves an element to the left</td>
      </tr>
      <tr>
        <td><code>isPulledRight</code></td>
        <td>Moves an element to the right</td>
      </tr>
      <tr>
        <th rowspan="2">Spacing</th>
        <td><code>isMarginless</code></td>
        <td>Removes any <strong>margin</strong></td>
      </tr>
      <tr>
        <td><code>isPaddingless</code></td>
        <td>Removes any <strong>padding</strong></td>
      </tr>
      <tr>
        <th rowspan="5">Other</th>
        <td><code>isOverlay</code></td>
        <td>Completely covers the first positioned parent</td>
      </tr>
      <tr>
        <td><code>isClipped</code></td>
        <td>Adds overflow <strong>hidden</strong></td>
      </tr>
      <tr>
        <td><code>isRadiusless</code></td>
        <td>Removes any <strong>radius</strong></td>
      </tr>
      <tr>
        <td><code>isShadowless</code></td>
        <td>Removes any <strong>shadow</strong></td>
      </tr>
      <tr>
        <td><code>isUnselectable</code></td>
        <td>Prevents the text from being <strong>selectable</strong></td>
      </tr>
    </tbody>
  </table>
</div>