<h1 class="title">Footer</h1>
<h2 class="subtitle">
  A simple responsive <strong>footer</strong> which can include anything: lists, headings, columns, icons, buttons...
</h2>
<hr>

{{#themed-syntax transparent="true" language="handlebars"}}
&#123;&#123;#bulma-footer&#125;&#125;
  &#123;&#123;! footer content&#125;&#125;
&#123;&#123;/bulma-footer&#125;&#125;
{{/themed-syntax}}
