<h1 class="title">Hero</h1>
<h2 class="subtitle">
  An imposing <strong>hero banner</strong> to showcase something
</h2>

<div class="example with-padding">
{{#bulma-hero}}
  {{#bulma-hero-content}}
    <h1 class="title">
      Hero title
    </h1>
    <h2 class="subtitle">
      Hero subtitle
    </h2>
  {{/bulma-hero-content}}
{{/bulma-hero}}

{{#themed-syntax transparent="true" language="handlebars" }}
&#123;&#123;#bulma-hero&#125;&#125;
  &#123;&#123;#bulma-hero-content&#125;&#125;
    &lt;h1 class="title"&gt;
      Hero title
    &lt;/h1&gt;
    &lt;h2 class="subtitle"&gt;
      Hero subtitle
    &lt;/h2&gt;
  &#123;&#123;#bulma-hero-content&#125;&#125;
&#123;&#123;/bulma-hero&#125;&#125;
{{/themed-syntax}}
</div>


<br>
<hr>
<h3 class="title">Colors</h3>
<h4 class="subtitle">
  As with buttons, you can choose one of the <strong>5 different colors</strong>
</h4>

<div class="with-padding example with-padding">
  {{#bulma-hero isPrimary=true}}
    {{#bulma-hero-content}}
      <h1 class="title">
        Primary title
      </h1>
      <h2 class="subtitle">
        Primary subtitle
      </h2>
    {{/bulma-hero-content}}
  {{/bulma-hero}}

  {{#themed-syntax transparent="true" language="handlebars" }}
&#123;&#123;#bulma-hero isPrimary=true&#125;&#125;
  &#123;&#123;#bulma-hero-content&#125;&#125;
    &lt;h1 class="title"&gt;
      Hero title
    &lt;/h1&gt;
    &lt;h2 class="subtitle"&gt;
      Hero subtitle
    &lt;/h2&gt;
  &#123;&#123;/bulma-hero-content&#125;&#125;
&#123;&#123;/bulma-hero&#125;&#125;
  {{/themed-syntax}}
</div>

<div class="with-padding example with-padding">
  {{#bulma-hero isInfo=true}}
    {{#bulma-hero-content}}
      <h1 class="title">
        Info title
      </h1>
      <h2 class="subtitle">
        Info subtitle
      </h2>
    {{/bulma-hero-content}}
  {{/bulma-hero}}
</div>

<div class="with-padding example with-padding">
  {{#bulma-hero isSuccess=true}}
    {{#bulma-hero-content}}
      <h1 class="title">
        Success title
      </h1>
      <h2 class="subtitle">
        Success subtitle
      </h2>
    {{/bulma-hero-content}}
  {{/bulma-hero}}
</div>

<div class="with-padding example with-padding">
  {{#bulma-hero isWarning=true}}
    {{#bulma-hero-content}}
      <h1 class="title">
        Warning title
      </h1>
      <h2 class="subtitle">
        Warning subtitle
      </h2>
    {{/bulma-hero-content}}
  {{/bulma-hero}}
</div>

<div class="with-padding example with-padding">
  {{#bulma-hero isDanger=true}}
    {{#bulma-hero-content}}
      <h1 class="title">
        Danger title
      </h1>
      <h2 class="subtitle">
        Danger subtitle
      </h2>
    {{/bulma-hero-content}}
  {{/bulma-hero}}
</div>

<div class="with-padding example with-padding">
  {{#bulma-hero isDark=true}}
    {{#bulma-hero-content}}
      <h1 class="title">
        Dark title
      </h1>
      <h2 class="subtitle">
        Dark subtitle
      </h2>
    {{/bulma-hero-content}}
  {{/bulma-hero}}
</div>

<br><hr>
<h3 class="title">
  Gradients
  {{bulma-tag isWarning=true tag="Experimental"}}
</h3>
<h4 class="subtitle">
  By adding the <code>isBold</code> modifier, you can generate a subtle <strong>gradient</strong>
</h4>

<div class="with-padding example with-padding">
  {{#bulma-hero isPrimary=true isBold=true isMedium=true}}
    {{#bulma-hero-content}}
      <h1 class="title">
        Primary bold title
      </h1>
      <h2 class="subtitle">
        Primary bold subtitle
      </h2>
    {{/bulma-hero-content}}
  {{/bulma-hero}}

  {{#themed-syntax transparent="true" language="handlebars" }}
&#123;&#123;#bulma-hero isPrimary=true isBold=true isMedium=true&#125;&#125;
  &#123;&#123;#bulma-hero-content&#125;&#125;
    &lt;h1 class="title"&gt;
      Primary bold title
    &lt;/h1&gt;
    &lt;h2 class="subtitle"&gt;
      Primary bold subtitle
    &lt;/h2&gt;
  &#123;&#123;/bulma-hero-content&#125;&#125;
&#123;&#123;/bulma-hero&#125;&#125;
  {{/themed-syntax}}
</div>

<div class="with-padding example with-padding">
  {{#bulma-hero isInfo=true isBold=true isMedium=true}}
    {{#bulma-hero-content}}
      <h1 class="title">
        Info bold title
      </h1>
      <h2 class="subtitle">
        Info bold subtitle
      </h2>
    {{/bulma-hero-content}}
  {{/bulma-hero}}
</div>

<div class="with-padding example with-padding">
  {{#bulma-hero isSuccess=true isBold=true isMedium=true}}
    {{#bulma-hero-content}}
      <h1 class="title">
        Success bold title
      </h1>
      <h2 class="subtitle">
        Success bold subtitle
      </h2>
    {{/bulma-hero-content}}
  {{/bulma-hero}}
</div>

<div class="with-padding example with-padding">
  {{#bulma-hero isWarning=true isBold=true isMedium=true}}
    {{#bulma-hero-content}}
      <h1 class="title">
        Warning bold title
      </h1>
      <h2 class="subtitle">
        Warning bold subtitle
      </h2>
    {{/bulma-hero-content}}
  {{/bulma-hero}}
</div>

<div class="with-padding example with-padding">
  {{#bulma-hero isDanger=true isBold=true isMedium=true}}
    {{#bulma-hero-content}}
      <h1 class="title">
        Danger bold title
      </h1>
      <h2 class="subtitle">
        Danger bold subtitle
      </h2>
    {{/bulma-hero-content}}
  {{/bulma-hero}}
</div>

<div class="with-padding example with-padding">
  {{#bulma-hero dark=true isBold=true isMedium=true}}
    {{#bulma-hero-content}}
      <h1 class="title">
        Dark bold title
      </h1>
      <h2 class="subtitle">
        Dark bold subtitle
      </h2>
    {{/bulma-hero-content}}
  {{/bulma-hero}}
</div>

<br><hr>
<h3 class="title">Sizes</h3>
<h4 class="subtitle">
  You can have even more imposing banners by using one of <strong>3 different sizes</strong>
</h4>

<div class="with-padding example with-padding">
  {{#bulma-hero isPrimary=true isMedium=true}}
    {{#bulma-hero-content}}
      <h1 class="title">
        Medium title
      </h1>
      <h2 class="subtitle">
        Medium subtitle
      </h2>
    {{/bulma-hero-content}}
  {{/bulma-hero}}

  {{#themed-syntax transparent="true" language="handlebars" }}
&#123;&#123;#bulma-hero isPrimary=true isMedium=true&#125;&#125;
  &#123;&#123;#bulma-hero-content&#125;&#125;
    &lt;h1 class="title"&gt;
      Medium title
    &lt;/h1&gt;
    &lt;h2 class="subtitle"&gt;
      Medium subtitle
    &lt;/h2&gt;
  &#123;&#123;#bulma-hero-content&#125;&#125;
&#123;&#123;/bulma-hero&#125;&#125;
  {{/themed-syntax}}
</div>

<div class="with-padding example with-padding">
  {{#bulma-hero isInfo=true isLarge=true}}
    {{#bulma-hero-content}}
      <h1 class="title">
        Large title
      </h1>
      <h2 class="subtitle">
        Large subtitle
      </h2>
    {{/bulma-hero-content}}
  {{/bulma-hero}}

  {{#themed-syntax transparent="true" language="handlebars" }}
&#123;&#123;#bulma-hero isInfo=true isLarge=true&#125;&#125;
  &#123;&#123;#bulma-hero-content&#125;&#125;
    &lt;h1 class="title"&gt;
      Large title
    &lt;/h1&gt;
    &lt;h2 class="subtitle"&gt;
      Large subtitle
    &lt;/h2&gt;
  &#123;&#123;#bulma-hero-content&#125;&#125;
&#123;&#123;/bulma-hero&#125;&#125;
  {{/themed-syntax}}
</div>

<div class="with-padding">
  {{#bulma-hero isSuccess=true isFullHeight=true}}
    {{#bulma-hero-content}}
      <h1 class="title">
        Full height title
      </h1>
      <h2 class="subtitle">
        Full height subtitle
      </h2>
    {{/bulma-hero-content}}
  {{/bulma-hero}}

  {{#themed-syntax transparent="true" language="handlebars" }}
&#123;&#123;#bulma-hero isSuccess=true isFullHeight=true&#125;&#125;
  &#123;&#123;#bulma-hero-content&#125;&#125;
    &lt;h1 class="title"&gt;
      Full height title
    &lt;/h1&gt;
    &lt;h2 class="subtitle"&gt;
      Full height subtitle
    &lt;/h2&gt;
  &#123;&#123;/bulma-hero-content&#125;&#125;
&#123;&#123;/bulma-hero&#125;&#125;
  {{/themed-syntax}}
</div>

<br><hr>
<h3 class="title">Full height hero</h3>
<h4 class="subtitle">And vertically centered</h4>
<div class="content">
  <p>You can split the hero in <strong>3 vertical parts</strong>:</p>
  <ul>
    <li>
      <code>hero</code>
      <ul>
        <li><code>hero-header</code> (always at the top)</li>
        <li><code>hero-content</code> (always vertically centered)</li>
        <li><code>hero-footer</code> (always at the bottom)</li>
      </ul>
    </li>
  </ul>
</div>

<div class="with-padding example with-padding">
    {{#bulma-hero isInfo=true isBold=true isFullHeight=true}}
      {{#bulma-hero-header}}
        <div class="container">
          {{#bulma-nav}}
            {{#bulma-nav-left}}
              <h1 class="title nav-item">Ember Bulma</h1>
            {{/bulma-nav-left}}

            {{#bulma-nav-center}}
              {{!}}
            {{/bulma-nav-center}}

            {{#bulma-nav-toggle onmousedown=(action (toggle 'showToggleItems' this))}}
              <span></span>
              <span></span>
              <span></span>
            {{/bulma-nav-toggle}}

            {{#bulma-nav-right isMenu=true}}
              <a class="nav-item" href="http://bulma.io/" target="_blank">
                Bulma.io
              </a>
              <a class="nav-item " href="http://emberjs.com" target="_blank">
                Emberjs
              </a>
              <span class="nav-item">
                <a class="button is-light is-outlined" href="https://github.com/open-tux/ember-bulma" target="_blank">
                  <span class="icon">
                    <i class="fa fa-github"></i>
                  </span>
                  <span>Github</span>
                </a>
              </span>
            {{/bulma-nav-right}}
          {{/bulma-nav}}
          {{#if showToggleItems}}
            {{#bulma-menu isHiddenDesktopOnly=true isHiddenWidescreen=true}}
              {{#bulma-menu-list}}
                <li>
                  <a href="http://bulma.io/" class="light panel-block">Bulma.io</a>
                </li>
                <li>
                  <a href="http://emberjs.com" class="light panel-block">Emberjs</a>
                </li>
                <li>
                  <a href="https://github.com/open-tux/ember-bulma" target="_blank" class="light">
                    <span class="icon">
                      <i class="fa fa-github"></i>
                    </span>
                    <span>Github</span>
                  </a>
                </li>
              {{/bulma-menu-list}}
            {{/bulma-menu}}
          {{/if}}
        </div>
      {{/bulma-hero-header}}

      {{#bulma-hero-content}}
        <div class="container">
          {{#bulma-columns isVcentered=true}}
            {{#bulma-column}}
              <p class="title">
                Title
              </p>
              <p class="subtitle">
                Subtitle
              </p>
            {{/bulma-column}}
          {{/bulma-columns}}
        </div>
      {{/bulma-hero-content}}

      {{#bulma-hero-footer}}
        <div class="container">
          {{bulma-tabs isBoxed=true tabs=demoLinks}}
        </div>
      {{/bulma-hero-footer}}

    {{/bulma-hero}}

  {{#themed-syntax transparent="true" language="handlebars" }}
&#123;&#123;#bulma-hero isInfo=true isBold=true isFullHeight=true&#125;&#125;

  &#123;&#123;#bulma-hero-header&#125;&#125;
    &lt;div class="container"&gt;

      &#123;&#123;#bulma-nav&#125;&#125;

        &#123;&#123;#bulma-nav-left&#125;&#125;
          &#123;&#123;! logo&#125;&#125;
        &#123;&#123;/bulma-nav-left&#125;&#125;

        &#123;&#123;#bulma-nav-center&#125;&#125;
          &#123;&#123;! nav items&#125;&#125;
        &#123;&#123;/bulma-nav-center&#125;&#125;

        &#123;&#123;#bulma-nav-toggle onmousedown=(action (toggle 'showToggleItems' this))&#125;&#125;
          &lt;span&gt;&lt;/span&gt;
          &lt;span&gt;&lt;/span&gt;
          &lt;span&gt;&lt;/span&gt;
        &#123;&#123;/bulma-nav-toggle&#125;&#125;

        &#123;&#123;#bulma-nav-right isMenu=true&#125;&#125;
          &#123;&#123;! nav items&#125;&#125;
        &#123;&#123;/bulma-nav-right&#125;&#125;
      &#123;&#123;/bulma-nav&#125;&#125;

      &#123;&#123;#if showToggleItems&#125;&#125;
        &#123;&#123;! menu&#125;&#125;
      &#123;&#123;/if&#125;&#125;

    &lt;/div&gt;
  &#123;&#123;/bulma-hero-header&#125;&#125;

  &#123;&#123;#bulma-hero-content&#125;&#125;
    &#123;&#123;! some content&#125;&#125;
  &#123;&#123;/bulma-hero-content&#125;&#125;

  &#123;&#123;#bulma-hero-footer&#125;&#125;
    &#123;&#123;! some tabs&#125;&#125;
  &#123;&#123;/bulma-hero-footer&#125;&#125;

&#123;&#123;/bulma-hero&#125;&#125;
  {{/themed-syntax}}
</div>
