<h1 class="title">Section</h1>
<h2 class="subtitle">
  A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
</h2>
<hr>
{{#themed-syntax transparent="true" language="handlebars" }}
&#123;&#123;#bulma-section&#125;&#125;
  &#123;&#123;! section content&#125;&#125;
&#123;&#123;/bulma-section&#125;&#125;
{{/themed-syntax}}
