//colors
$color_mine_shaft_approx: #333;
$color_desert_storm_approx: #f8f8f8;
$color_lemon_grass_approx: #998;
$teal: #008080;
$color_crimson_approx: #d14;
$color_red_berry_approx: #900;
$color_east_bay_approx: #458;
$navy_blue: #000080;
$color_forest_green_approx: #009926;
$color_flirt_approx: #990073;
$color_bondi_blue_approx: #0086b3;
$color_mountain_mist_approx: #999;
$color_pippin_approx: #fdd;
$color_snowy_mint_approx: #dfd;

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	color: $color_mine_shaft_approx;
	//background: $color_desert_storm_approx;
}
.hljs-comment {
	color: $color_lemon_grass_approx;
	font-style: italic;
}
.hljs-quote {
	color: $color_lemon_grass_approx;
	font-style: italic;
}
.hljs-keyword {
	color: $color_mine_shaft_approx;
	font-weight: bold;
}
.hljs-selector-tag {
	color: $color_mine_shaft_approx;
	font-weight: bold;
}
.hljs-subst {
	color: $color_mine_shaft_approx;
	font-weight: bold;
	font-weight: normal;
}
.hljs-number {
	color: $teal;
}
.hljs-literal {
	color: $teal;
}
.hljs-variable {
	color: $teal;
}
.hljs-template-variable {
	color: $teal;
}
.hljs-tag {
	color: $navy_blue;
	font-weight: normal;
	.hljs-attr {
		color: $teal;
	}
}
.hljs-string {
	color: $color_crimson_approx;
}
.hljs-doctag {
	color: $color_crimson_approx;
}
.hljs-title {
	color: $color_red_berry_approx;
	font-weight: bold;
}
.hljs-section {
	color: $color_red_berry_approx;
	font-weight: bold;
}
.hljs-selector-id {
	color: $color_red_berry_approx;
	font-weight: bold;
}
.hljs-type {
	color: $color_east_bay_approx;
	font-weight: bold;
}
.hljs-name {
	color: $navy_blue;
	font-weight: normal;
}
.hljs-attribute {
	color: $navy_blue;
	font-weight: normal;
}
.hljs-regexp {
	color: $color_forest_green_approx;
}
.hljs-link {
	color: $color_forest_green_approx;
}
.hljs-symbol {
	color: $color_flirt_approx;
}
.hljs-bullet {
	color: $color_flirt_approx;
}
.hljs-built_in {
	color: $color_bondi_blue_approx;
}
.hljs-builtin-name {
	color: $color_bondi_blue_approx;
}
.hljs-meta {
	color: $color_mountain_mist_approx;
	font-weight: bold;
}
.hljs-deletion {
	background: $color_pippin_approx;
}
.hljs-addition {
	background: $color_snowy_mint_approx;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: bold;
}
.hljs-class .hljs-title {
	color: $color_east_bay_approx;
	font-weight: bold;
}
