<h1 class="title">Footer</h1>
<h2 class="subtitle">
  A simple responsive <strong>footer</strong> which can include anything: lists, headings, columns, icons, buttons...
</h2>
<hr>

{{#themed-syntax transparent="true" language="handlebars"}}
&#123;&#123;#bulma-footer&#125;&#125;
  &#123;&#123;#bulma-container&#125;&#125;
    &lt;div class="content is-centered"&gt;
      &lt;p&gt;
        &lt;strong&gt;Bulma&lt;/strong&gt; by &lt;a href="http://jgthms.com"&gt;Jeremy Thomas&lt;/a&gt;. The source code is licensed
        &lt;a href="http://opensource.org/licenses/mit-license.php"&gt;MIT&lt;/a&gt;. The website content
        is licensed &lt;a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"&gt;CC ANS 4.0&lt;/a&gt;.
      &lt;/p&gt;
      &lt;p&gt;
        &lt;a class="icon" href="https://github.com/jgthms/bulma"&gt;
          &lt;i class="fa fa-github"&gt;&lt;/i&gt;
        &lt;/a&gt;
      &lt;/p&gt;
    &lt;/div&gt;
  &#123;&#123;/bulma-container&#125;&#125;
&#123;&#123;/bulma-footer&#125;&#125;
{{/themed-syntax}}
