<h1 class="title">Section</h1>
<h2 class="subtitle">
  A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
</h2>
<hr>
{{#themed-syntax transparent="true" language="handlebars" }}
&#123;&#123;#bulma-section withContainer=true&#125;&#125;
  &lt;div class="heading"&gt;
    &lt;h1 class="title">Section&lt;/h1&gt;
    &lt;h2 class="subtitle"&gt;
      A simple container to divide your page into &lt;strong&gt;sections&lt;/strong&gt;, like the one you're currently reading
    &lt;/h2&gt;
  &lt;/div&gt;
&#123;&#123;/bulma-section&#125;&#125;
{{/themed-syntax}}
