<h1 class="title">Menu</h1>
<h2 class="subtitle">
  A composable <strong>menu</strong>, for any type of vertical navigation
</h2>
<hr>
<div class="example with-padding">
  {{#bulma-columns}}
    {{#bulma-column}}
      {{#bulma-menu}}
        {{#bulma-menu-list label="Administration"}}
          <li><a href="#">Team Settings</a></li>
          <li>
            <a class="is-active" href="#">Manage Your Team</a>
            <ul>
              <li><a href="#">Members</a></li>
              <li><a href="#">Plugins</a></li>
              <li><a href="#">Add a member</a></li>
            </ul>
          </li>
          <li><a href="#">Invitations</a></li>
          <li><a href="#">Authentication</a></li>
        {{/bulma-menu-list}}

        {{#bulma-menu-list label="Transactions"}}
          <li><a href="#">Payments</a></li>
          <li><a href="#">Transfers</a></li>
          <li><a href="#">Balance</a></li>
        {{/bulma-menu-list}}

      {{/bulma-menu}}
    {{/bulma-column}}
    {{#bulma-column isHalf=true}}
      {{#themed-syntax transparent="true" language="handlebars" }}

&#123;&#123;#bulma-menu &#125;&#125;

  &#123;&#123;#bulma-menu-list label="Administration"&#125;&#125;
    &lt;li&gt;&lt;a href="#"&gt;Team Settings&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;
      &lt;a class="is-active" href="#"&gt;Manage Your Team&lt;/a&gt;
      &lt;ul>
        &lt;li&gt;&lt;a href="#">Members&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#">Plugins&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#">Add a member&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li&gt;&lt;a href="#">Invitations&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#">Authentication&lt;/a&gt;&lt;/li&gt;
  &#123;&#123;/bulma-menu-list&#125;&#125;

  &#123;&#123;#bulma-menu-list label="Transactions"&#125;&#125;
    &lt;li&gt;&lt;a href="#"&gt;Payments&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Transfers&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Balance&lt;/a&gt;&lt;/li&gt;
  &#123;&#123;/bulma-menu-list&#125;&#125;

&#123;&#123;/bulma-menu&#125;&#125;
      {{/themed-syntax}}
    {{/bulma-column}}
  {{/bulma-columns}}
</div>
