<h1 class="title">Table</h1>
<h2 class="subtitle">
  The inevitable HTML <strong>table</strong>, with special case cells
</h2>

<div class="example with-padding">
  {{bulma-table table=table}}

  {{#themed-syntax transparent="true" language="handlebars" }}
&#123;&#123;#bulma-table&#125;&#125;
  &lt;thead&gt;
    &#123;&#123;!...&#125;&#125;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &#123;&#123;!...&#125;&#125;
  &lt;/tbody&gt;
&#123;&#123;/bulma-table&#125;&#125;
  {{/themed-syntax}}
</div>
<br>
<hr>
<h1 class="title">Modifiers</h1>

{{#bulma-columns}}
  {{#bulma-column}}
    Add <strong>borders</strong> to all the cells.
  {{/bulma-column}}

  {{#bulma-column}}
    <code>isBordered=true</code>
  {{/bulma-column}}

  {{#bulma-column isHalf=true}}
    {{#bulma-table isBordered=true}}
      <thead>
       <tr>
         <th>One</th>
         <th>Two</th>
       </tr>
      </thead>
      <tbody>
       <tr>
         <td>Three</td>
         <td>Four</td>
       </tr>
      </tbody>
    {{/bulma-table}}
  {{/bulma-column}}
{{/bulma-columns}}

{{#bulma-columns}}
  {{#bulma-column}}
    Add <strong>stripes</strong> to all the cells.
  {{/bulma-column}}

  {{#bulma-column}}
    <code>isStriped=true</code>
  {{/bulma-column}}

  {{#bulma-column isHalf=true}}
    {{#bulma-table isStriped=true}}
      <thead>
       <tr>
         <th>One</th>
         <th>Two</th>
       </tr>
      </thead>
      <tbody>
       <tr>
         <td>Three</td>
         <td>Four</td>
       </tr>
      </tbody>
    {{/bulma-table}}
  {{/bulma-column}}
{{/bulma-columns}}

{{#bulma-columns}}
  {{#bulma-column}}
    Make the cells <strong>narrower</strong>.
  {{/bulma-column}}

  {{#bulma-column}}
    <code>isNarrow=true</code>
  {{/bulma-column}}

  {{#bulma-column isHalf=true}}
    {{#bulma-table isNarrow=true}}
      <thead>
       <tr>
         <th>One</th>
         <th>Two</th>
       </tr>
      </thead>
      <tbody>
       <tr>
         <td>Three</td>
         <td>Four</td>
       </tr>
      </tbody>
    {{/bulma-table}}
  {{/bulma-column}}
{{/bulma-columns}}


{{#bulma-columns}}
  {{#bulma-column}}
    You can <strong>combine</strong> all three modifiers.
  {{/bulma-column}}

  {{#bulma-column}}
    <code>isNarrow=true</code><br>
    <code>isBordered=true</code><br>
    <code>isStriped=true</code><br>
  {{/bulma-column}}

  {{#bulma-column isHalf=true}}
    {{#bulma-table isNarrow=true isBordered=true isStriped=true}}
      <thead>
       <tr>
         <th>One</th>
         <th>Two</th>
       </tr>
      </thead>
      <tbody>
       <tr>
         <td>Three</td>
         <td>Four</td>
       </tr>
      </tbody>
    {{/bulma-table}}
  {{/bulma-column}}
{{/bulma-columns}}
