<main class="no-theme">
  {{#bulma-hero isInfo=true isLeft=true isBold=true}}
    {{#bulma-hero-header}}
      {{#bulma-header-menu isLeft=true}}
        <h1 class="title header-item">Ember Bulma</h1>
      {{/bulma-header-menu}}
      {{#bulma-header-menu isRight=true}}
        <ul>
          <li class="header-item">
            <!-- TODO: Solution for buttons that don't use actions -->
            <a href="https://github.com/open-tux/ember-bulma" target="_blank" class="button is-info is-outlined is-inverted">
              <i class="fa fa-github"></i>&nbsp;Github
            </a>
          </li>
        </ul>
      {{/bulma-header-menu}}
    {{/bulma-hero-header}}
    {{#bulma-hero-content withContainer=true}}
      <p class="title is-4">Documentation</p>
      <p class="subtitle">
        <a href="https://github.com/open-tux/ember-bulma" target="_blank"><strong>Ember Bulma</strong></a> is an <em>ember addon</em> for <a xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type"><strong>Bulma</strong></a> by <strong xmlns:cc="http://creativecommons.org/ns#" href="http://jgthms.com" property="cc:attributionName" rel="cc:attributionURL">Jeremy Thomas</strong>.
      </p>
    {{/bulma-hero-content}}
    {{#bulma-hero-footer}}
      {{bulma-tabs isBoxed=true isCentered=true tabs=model.demoTabs isSiteNav=true}}
    {{/bulma-hero-footer}}
  {{/bulma-hero}}

  {{#bulma-section withContainer=false}}
    {{#if demoSubTabs.length}}
      {{bulma-tabs tabs=demoSubTabs isCentered=true}}
    {{/if}}
    {{#bulma-section}}
      {{outlet}}
    {{/bulma-section}}
  {{/bulma-section}}
</main>

{{#bulma-footer}}
  {{#bulma-container}}
    <div class="content is-text-centered">
      <p>
          <strong>Ember Bulma</strong> is an ember addon for <strong xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Bulma</strong> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://jgthms.com" property="cc:attributionName" rel="cc:attributionURL">Jeremy Thomas</a>. The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  {{/bulma-container}}
{{/bulma-footer}}
