<main>
  {{#bulma-hero isInfo=true isBold=true}}
    {{#bulma-hero-header}}
      <div class="container">
        {{#bulma-nav}}
          {{#bulma-nav-left}}
            <h1 class="title nav-item">Ember Bulma</h1>
          {{/bulma-nav-left}}

          {{#bulma-nav-center}}
            {{!}}
          {{/bulma-nav-center}}

          {{#bulma-nav-toggle onmousedown=(action (toggle 'showToggleItems' this))}}
            <span></span>
            <span></span>
            <span></span>
          {{/bulma-nav-toggle}}

          {{#bulma-nav-right isMenu=true}}
            <small class="nav-item">
              <code>v{{app-version hideSha=true}}</code>
            </small>
            <a class="nav-item" href="http://bulma.io/" target="_blank">
              Bulma.io
            </a>
            <a class="nav-item " href="http://emberjs.com" target="_blank">
              Emberjs
            </a>
            <span class="nav-item">
              <a class="button is-light is-outlined" href="https://github.com/open-tux/ember-bulma" target="_blank">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
                <span>Github</span>
              </a>
            </span>
          {{/bulma-nav-right}}
        {{/bulma-nav}}
        {{#if showToggleItems}}
          {{#bulma-menu isHiddenDesktop=true isHiddenTablet=true isHiddenWidescreen=true}}
            {{#bulma-menu-list}}
              <li>
                <a href="http://bulma.io/" class="light panel-block">Bulma.io</a>
              </li>
              <li>
                <a href="http://emberjs.com" class="light panel-block">Emberjs</a>
              </li>
              <li>
                <a href="https://github.com/open-tux/ember-bulma" target="_blank" class="light">
                  <span class="icon">
                    <i class="fa fa-github"></i>
                  </span>
                  <span>Github</span>
                </a>
              </li>
            {{/bulma-menu-list}}
          {{/bulma-menu}}
        {{/if}}
      </div>
    {{/bulma-hero-header}}

    {{#bulma-hero-content}}
      <div class="container">
        {{#bulma-columns isVcentered=true}}
          {{#bulma-column}}
            <p class="title">
              Documentation
            </p>
            <p class="subtitle">
              <a href="https://github.com/open-tux/ember-bulma" target="_blank"><strong>Ember Bulma</strong></a> is a collection of Ember components and services for <a xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type"><strong>Bulma</strong></a>, a modern CSS framework by Jeremy Thomas
            </p>
          {{/bulma-column}}
        {{/bulma-columns}}
      </div>
    {{/bulma-hero-content}}

    {{#bulma-hero-footer}}
      <div class="container">
        {{bulma-tabs isBoxed=true tabs=model.demoTabs}}
      </div>
    {{/bulma-hero-footer}}

  {{/bulma-hero}}

  {{#if demoSubTabs.length}}
    {{#bulma-nav hasShadow=true}}
      <div class="container">
        {{#bulma-nav-left}}
          {{#each demoSubTabs as |tab|}}
            {{#link-to tab.route class="nav-item is-tab"}}
              {{tab.name}}
            {{/link-to}}
          {{/each}}
        {{/bulma-nav-left}}
      </div>
    {{/bulma-nav}}
  {{/if}}


  {{#bulma-section withContainer=false}}
    {{#bulma-container isFluid=true}}
      {{outlet}}
    {{/bulma-container}}
  {{/bulma-section}}

</main>

{{#bulma-footer}}
  {{#bulma-container}}
    <div class="content is-text-centered">
      <p>
          <strong>Ember Bulma</strong> is an ember addon for <strong xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Bulma</strong> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://jgthms.com" property="cc:attributionName" rel="cc:attributionURL">Jeremy Thomas</a>. The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  {{/bulma-container}}
{{/bulma-footer}}