<h1 class="title">Overview</h1>
<hr>
<div class="content">
  <h3 class="subtitle">
    Installation
  </h3>

  {{#themed-syntax transparent="true" language="bash"}}
ember install ember-cli-sass
ember install ember-bulma
  {{/themed-syntax}}

  <h1 class="title is-5">Optional</h1>
  {{#themed-syntax transparent="true" language="bash"}}
ember install ember-font-awesome
  {{/themed-syntax}}

  <br>
  <p>Then create a {{#bulma-tag}}styles/app.scss{{/bulma-tag}} file.</p>

  {{#themed-syntax transparent="true" language="scss"}}
@import "bulma";
  {{/themed-syntax}}

  <h1 class="title is-5">Experimental</h1>

  <p><strong>Tree Shaking</strong> - exclude specified components from your build tree</p>
  {{#themed-syntax transparent="true" language="javascript"}}
// environment.js
var ENV = {
  // ...
  'ember-bulma': {
    except: ['bulma-tag'] // excludes `bulma-tag`
  }
}
  {{/themed-syntax}}


  <h3 class="subtitle">
    Source
  </h3>

  <h4 class="subtitle">
    <span class="fa fa-github"/> Ember Bulma:
    <a href="https://github.com/open-tux/ember-bulma" target="_blank">https://github.com/open-tux/ember-bulma</a>
  </h4>

  <h4 class="subtitle">
    <span class="fa fa-github"/> Bulma:
    <a href="https://github.com/jgthms/bulma/" target="_blank">https://github.com/jgthms/bulma/</a>
  </h4>

  <h3 class="subtitle">
    Resources
  </h3>

  <h4 class="subtitle">
    <span class="fa fa-github"/> Bulma Docs:
    <a href="http://bulma.io/documentation/overview/start/" target="_blank">http://bulma.io/documentation/overview/start/</a>
  </h4>

  <h4 class="subtitle">
    <span class="fa fa-github"/> Ember Composable Helpers:
    <a href="https://github.com/DockYard/ember-composable-helpers" target="_blank">https://github.com/DockYard/ember-composable-helpers</a>
  </h4>

  <!--Known Issues
  Node sass, lib sass incompabitility causes Segment Fault 11 when compiling bulma > layout > hero.sass

  Temporary Fix:
  Manually install node-sass@3.4.2
  at ember-cli-sass > broccoli-sass-source-maps

  Official Issue:
  https://github.com/aexmachina/broccoli-sass-source-maps/issues/19
  -->

</div>
