<h1 class="title">Themes</h1>
<h2 class="subtitle">
  To create a <strong>theme</strong>, include your variables before the bulma import rule.
</h2>

<hr>

<div class="columns my-theme">
  <div class="column is-half">
    As per Bulma docs, you can specify theming variables just before importing Bulma.
    <br><br>
    {{#themed-syntax transparent="true" language="scss" }}
// Colors
$primary: #650360;
$info:    #00A4D9;
$success: #5eadb2;
$warning: #fce473;
$danger:  #ed6c63;

// Border radius
$radius: 0;

@import "bulma";
    {{/themed-syntax}}

    <br>
    A comprehensive list of Bulma variables can be found here:
    <a href="http://bulma.io/documentation/overview/variables/" target="_blank">http://bulma.io/documentation/overview/variables/</a>


    {{! TODO // Active links
      .active {
        @extend .is-active;
      }
    }}
  </div>
</div>
